#terminal {
    margin: auto;
    width: 675px;

}
#consoleTitle{
    text-align:center;
    font-size: 30px;
}
#footerDiv {
    position: absolute;
    left: 350px;
    bottom: -1px;
}

#footer {
    position: absolute;
    bottom: 0;
}

#footerTitle {
    font-family: 'Courier New', monospace;
}

#footerList1 { /* HORIZONTAL FOOTER LIST */
    font-family: 'Courier New', monospace;
    list-style-type: none; /* Can change interesting list stuff here */
}

#footerList2 {
    list-style-type: none;
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 350px;
    bottom: 0px;
}
