#body {
    overflow-y: scroll
}
#listText {
    font-family: 'Courier New', monospace;
}
#bitcoin {
    position: absolute;
    bottom: 100px;
}
#monero {
    position: absolute;
    bottom: 125px;
    left: 27px;
}
#mypic {
}
#mypic2 {
    position:absolute;
    left: 1200px;
    bottom: 220px
}
#titleOfGraph {
    margin: auto;
    width: 50%;
}

#footerDiv {
    position: absolute;
    left: 350px;
    bottom:-1px;
}
#footer{
    position: absolute;
    bottom: 0;
}
#footerTitle {
    font-family: 'Courier New', monospace;
}
#footerList1 { /* HORIZONTAL FOOTER LIST */
    font-family: 'Courier New', monospace;
    list-style-type:none; /* Can change interesting list stuff here */
}
#footerList2 {
    list-style-type: none;
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 350px;
    bottom: 0px;
}

